@import "tailwindcss";
#used-tools{
  display: flex;
}


.projects-list{
   
    display: flex;
    justify-content: center;
  }


#projects-div{
 
  padding-top: 10%;
  display: grid;
  justify-content: center;
  position: relative;
}
.project-item{
  
  width: 50%;
  border-color: black;
  display: flex;
  justify-content: center;
  
  
}

#projects-title{
  font-size: 250%;
  font-weight: bold;
}

#skill-list2{
  padding-bottom: 15%;
}
#skill-title{
  font-weight: bolder;
}
#skill-list1{
  display: grid;
  width: 50%;
  align-items: center;
}

#skills{
  padding-top: 5%;
  width: auto;
  display: grid;
  justify-content: center;
}

#icons{
  margin-right: 30px;
  padding: 10;
  height: 70px;
}

.pic_div{
  padding-top: 10%;
  display: flex;
  justify-content: center;
 
  height: 40% 

}

#minha-foto{
  
  height: 100%;
  width: 10%;
  border-radius: 100%;
}
#nav-bar {
  z-index: 2;
  width: 100%;
  background-color: white;
  height: fit-content;
  color: black;
  position: fixed;
}
li {
  margin: 2%;
  
}
#nav-list {
  display: flex;
  justify-content: end;
}

#home {
  
  align-items: center;
  display: flex;
  justify-content: center;
  
  position: relative;
  
}
#intro{
  position: relative;
  width: 50%;
}

#nome {
  padding-top: 5%;
  color: black;
  font-size: 50px;

}

#profissão{
  font-weight: bold;
  font-size: 45px;
  padding-left: 5%;
  padding-bottom: 5%;
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
  typing 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
  ;
}

@keyframes typing {
  from {width: 0;}
  to {width: 100%;}
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
#habilidades-text {
  font-size: 45px;
  font-weight: bold;
  
}
#habilidades-div{
  padding-top: 5px;
  display: grid;
  margin: 10%;
  justify-content: center;
  margin-top: 10%;
  color: black;
  
 
}
p {
  font-size: large;
}

.contact-intro{
  margin-top: 5%;
  background-color: black;
  color: white;
  display: grid;
  justify-content: center;
}
.contact-intro-text{
  padding-top: 5%;
  font-weight: bold;
  font-size: 30px;
}
.contact-div{
  padding-top: 10%;
  display: flex;
  justify-content: center;
}
.contact-list{
  padding-left: 8%;
  display: grid;
  justify-content: center;
}

@media (max-width:600px)
{

  #profissão{
    font-size: 18px;
    padding-left: 0%;
    padding-right: 10%;
    letter-spacing: .10em;
  }
  #nome{
    font-size: 30px;
  }
 
  .contact-div{
  display: grid;
  }
  .contact-list{
    padding-top: 5%;
  }
  #minha-foto{
    width: 70px;
  }

}


@media (min-width:600px) { /* hi-res laptops and desktops */ 

  #profissão{
    font-size: 25px;
  }
  
 
}

@media only screen and (min-width: 1200px) {
  #profissão{
    font-size: 45px;
  }

}



.code-link{
  border-radius: 5px;
  padding: 5;
  width: 50%;
  border-width: 2px;

}
